/* Variables */
/* Global Styles*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #225684;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#dce6ed), color-stop(40%, white));
  background-image: linear-gradient(0deg, #dce6ed 0%, white 40%);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Typography*/
h1,
h2,
h3,
p,
span {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 2.375em;
  color: #4c94d4;
  margin: 0 0 0.5em 0;
}

p {
  font-size: 1em;
}

.reviews {
  font-size: 12px;
  padding: 1em;
}

span {
  color: #B7B6B2;
}

.inner-categoryText {
  color: #4c94d4;
  letter-spacing: 1.5px;
}

/* Layout*/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

img.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  grid-gap: 0.5em;
  padding: 10px;
}

.img-container {
  margin: 2em 0 1em 2.3em;
}

.review-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.category-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.category-imagesContainer {
  position: relative;
}

/* Components*/
.img-logo {
  width: 20%;
  margin: 0.5em 0em 0 2em;
}

.img-bell {
  width: 10%;
  height: 10%;
  margin: 1.9em 3em 0 0;
}

.img-places {
  width: 40%;
  margin: 0.2em;
  border-style: solid;
  border-width: 1px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-places2 {
  width: 50%;
  margin: 2em 0em 0 2.2em;
  border-style: solid;
  border-width: 1px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-gallery {
  width: 90%;
  margin: 0.2em;
  border-style: solid;
  border-width: 1px;
}

.img-loupe {
  width: 5%;
  position: absolute;
  margin: 0.7em 0 0 0.7em;
}

.input-container {
  position: relative;
}

.input-container,
.add-copy {
  margin: 0 auto;
  width: 80%;
}

.btn {
  padding: 1em 5em;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
}

.btn-blue {
  background: #4c94d4;
  color: #fff;
}

.input-field {
  width: 100%;
  border-style: solid 0.5px black;
  padding: 1em 0;
  border-radius: 5px;
}

::-webkit-input-placeholder {
  padding-left: 2.5em;
  font-family: "Poppins", sans-serif;
  font-size: 1.5em;
}

:-ms-input-placeholder {
  padding-left: 2.5em;
  font-family: "Poppins", sans-serif;
  font-size: 1.5em;
}

::-ms-input-placeholder {
  padding-left: 2.5em;
  font-family: "Poppins", sans-serif;
  font-size: 1.5em;
}

::placeholder {
  padding-left: 2.5em;
  font-family: "Poppins", sans-serif;
  font-size: 1.5em;
}

.review-text {
  margin-top: 4em;
  margin-bottom: 0;
  width: 33%;
  color: #4c94d4;
  font-weight: 900;
}

.stars {
  padding: 0em 1em;
  margin-top: -1em;
  color: orange;
}

.swiper-container {
  width: 300px;
  height: 500px;
  overflow: hidden;
}

.stars-mover {
  margin-top: 0.1em;
}

.swipper-margin {
  margin-top: -16em;
}
/*# sourceMappingURL=style.css.map */